.card {
  border: 0;
  background-color: black;
  color: white;
}

.imageBox {
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}

.body {
  text-align: center;
}

.title {
  font-size: 1.2rem;
}

.text {
  font-size: 1rem;
}

.ranking {
  font-size: 1.5rem;
  font-weight: bold;
}
