@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: gray;
}

.swiper-pagination-bullet-active {
  background-color: #d32f2f !important;
}

.material-icons.md-18 {
  font-size: 18px;
  vertical-align: text-bottom;
}

.material-icons.md-heart {
  color: #d32f2f;
}

.material-icons.md-grade {
  color: #ffa406;
}
